form {
  display: flex;
  flex-direction: column;
  align-items: center;

}
body {
  background-image: url('https://images.pexels.com/photos/4467735/pexels-photo-4467735.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
h1 {
  color:aliceblue;
  font-size: 50px;
  text-shadow: 0px 0px 4px black;
}
button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 30%;
  margin-top: 30px;
  box-shadow: 0px 0px 4px black;
}
button:hover {
  cursor: pointer;
}
p {
  background-color: rgb(214, 225, 235, 0.5);
  padding: 20px;
  font-size: 20px;
}
p:hover {
  background-color: rgb(214, 225, 235);
}

@media all and (max-width: 500px) {
  h1 {font-size: 30px;
}
p {
  font-size: 15px;
}
button {
  width: 50%;
}
}